//Breakpoints
$bp-mobile: "360px";
$bp-tablet: "720px" ;
$bp-desk: "960px" ;
$bp-deskhd: "1320px";

//Grid Variables
$container-width: 1320px !default;


html,
body {
  font-family: 'Roboto', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;

  @media screen and (min-width: $bp-tablet) {
    font-size:16px;
  }//break

  @media screen and (min-width: $bp-desk) {
    font-size:18px;
  }//break
}

// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color:#2389ca;
  text-decoration:none;

  &:hover {
    color:#7dc140;
    text-decoration:underline;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: -.1rem;

  @media screen and (min-width: $bp-tablet) {
    font-size: 2.2em;
  }//break

  @media screen and (min-width: $bp-desk) {
    font-size: 2.6em;
  }//break
}//h1

h2 {
  font-size: 1.8em;
  line-height: 1.25;
  letter-spacing: -.1rem;

  @media screen and (min-width: $bp-tablet) {
    font-size: 2em;
  }//break

  @media screen and (min-width: $bp-desk) {
    font-size: 2.2em;
  }//break
}//h2

h3 {
  font-size: 1.6em;
  line-height: 1.3;
  letter-spacing: -.1rem;

  @media screen and (min-width: $bp-tablet) {
    font-size: 1.8em;
  }//break

  @media screen and (min-width: $bp-desk) {
    font-size: 2em;
  }//break
}//h3

h4 {
  font-size: 1.4em;
  line-height: 1.35;
  letter-spacing: -.08rem;

  @media screen and (min-width: $bp-tablet) {
    font-size: 1.6em;
  }//break

  @media screen and (min-width: $bp-desk) {
    font-size: 1.8em;
  }//break
}//h4

h5 {
  font-size: 1.3em;
  line-height: 1.5;
  letter-spacing: -.05rem;

  @media screen and (min-width: $bp-tablet) {
    font-size: 1.4em;
  }//break

  @media screen and (min-width: $bp-desk) {
    font-size: 1.6em;
  }//break
}//h5

h6 {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: 0;

  @media screen and (min-width: $bp-tablet) {
    font-size: 1.3em;
  }//break

  @media screen and (min-width: $bp-desk) {
    font-size: 1.4em;
  }//break
}//h6


p {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0;
}//p


// Images
//––––––––––––––––––––––––––––––––––––––––––––––––––
img {
  height:auto;
  width:100%;
  max-width:100%;

  &.profile-image {
    border-radius:50%;
  }
}

//Type
.lead-copy {
  font-size: 1.5em;
  font-weight: 300;
}


// Grid
//––––––––––––––––––––––––––––––––––––––––––––––––––

//comtainer
.container {
  width: 100%;
  margin-bottom:2em;
  max-width: $container-width;

  &.u-full-width {
    max-width:none;
  }
}//container


/*Column*/
.column,
.columns {

  /*center the comtents of a column*/
  &.centerized {
    text-align:center;
  }
}


// Header/Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––
.header {
  display:none;


  background-color:transparent;
  left: 0;
  margin-bottom:0;
  margin-top:0;
  position: fixed;
  top: 0;
  z-index:2;

  @media screen and (min-width: $bp-desk) {
    height:100px;
  }//break

  .nav {
    display:inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    width:auto;

    li {
      float:left;

      a {
        color:#FFF;
        line-height:50px;
        padding:0 1em;
        text-decoration:none;
      }
    }
  }
}


// Video Head
//––––––––––––––––––––––––––––––––––––––––––––––––––
.video-head {
  background-color:#000;
  color:#FFF;
  margin-bottom:0;
  margin-top:0;
  overflow:hidden;
  position: relative;
  width: 100%;
  z-index:1;

  @media screen and (min-width: $bp-tablet) {
    // margin-top:-100px;
    // padding-top:100px;
  }//break

  .video-stage {
    position:relative;
    z-index:2;

    @media screen and (min-width: $bp-tablet) {
      padding-top:100px;
    }//break

    p {
      display:none;
      @media screen and (min-width: $bp-tablet) {
        display:block;
      }//break
    }//p

  }//stage

  video {
    height:100%;
    left:0;
    opacity:.2;
    position:absolute;
    top:0;
    width:auto;
    z-index:1;

    @media screen and (min-width: $bp-desk) {
      width:120%;
      height:auto;
    }//break
  }//video tag

  .row {
    // margin-top:-50px;
    // padding-top:60px;
  }
}//video head







// Profile LIst
//––––––––––––––––––––––––––––––––––––––––––––––––––
.profile-list {
  display:inline-block;
  list-style-type:none;
  margin:0 auto;
  padding:0;
  width:auto;

  li {
    float:left;
    margin:1% .5%;
    padding:2% 0;
    width:48%;

    @media screen and (min-width: $bp-tablet) {
      width:24%;
    }//break


    a {
      display:block;
      font-size:1.2em;
      text-decoration:none;
      text-align:center;

      img {
        border-radius:50%;
        display:block;
        height:auto;
        margin:0 auto 1em;
        width:70%;
        -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.35);
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.35);
      }//img

      &:hover {
        img {
          -webkit-box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
          box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
        }//img
      }//hover
    }//link

  }//li

}//profile list




// Gallery List
//––––––––––––––––––––––––––––––––––––––––––––––––––
.gallery-list {
  display:inline-block;
  list-style-type:none;
  margin:0 auto;
  padding:0;
  width:auto;

  li {
    float:left;
    margin:1% .5%;
    padding:2% 0;
    width:48%;

    @media screen and (min-width: $bp-tablet) {
      width:32.333%;
    }//break


    a {
      display:block;
      text-decoration:none;
      text-align:center;

      img {
        display:block;
        height:auto;
        margin:0 auto;
        width:90%;

        -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.35);
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.35);
      }//img

      &:hover {
        color:#004080;

        img {
          -webkit-box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
          box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
        }//img
      }
    }//link

  }//li

}//gallery list


// Galler Modal
//––––––––––––––––––––––––––––––––––––––––––––––––––
.featherlight {

  .featherlight-content {
    -webkit-box-shadow: 5px 5px 50px 0 #000;
    box-shadow: 5px 5px 50px 0 #000;
    margin:0;
    width:80%;

    .featherlight-image {
      height:100%;
      margin:0 auto;
      width:auto;
    }//image

    .featherlight-next,
    .featherlight-previous {

      span {
        background-color:transparent;
        background-image:url(../../imgs/tpg-sprite.png);
        background-repeat:no-repeat;
        background-size:auto 200px;
        display:block;
        height:100%;
        line-height: none;
        margin-top: 0;
        position: absolute;
        text-align: center;
        text-shadow: 0 0 0 #fff;
        text-indent:-9999em;
        top: 0;
        width:30px;

        @media screen and (min-width: $bp-desk) {
          background-size:auto 300px;
          width:40px;
        }//break
      }//span

    }//prev/next

    .featherlight-next {
      span {
        background-position:-30px center;
        right: 30%;
      }
    }//next

    .featherlight-previous {
      span {
        background-position:0 center;
        left: 30%;
      }
    }//prev
  }//content

}//featurelight






// Carousel
//––––––––––––––––––––––––––––––––––––––––––––––––––
.owl-theme .owl-controls .owl-nav [class*=owl-] {
  background-color:transparent;
  background-image:url(../../imgs/tpg-sprite.png);
  background-repeat:no-repeat;
  background-size:auto 300px;
  height:100%;
  margin:0;
  padding:0;
  position: absolute;
  text-indent:-9999em;
  top:0;
  width:30px;
  z-index: 100;

}


.owl-theme {

  .caption {
    background-color:rgba(0,0,0,.5);
    bottom:0;
    color: #FFF;
    left:25%;
    padding: 1.2em;
    position:absolute;
    width:50%;
    z-index:101;

    p {
      display:none;

      @media screen and (min-width: $bp-desk) {
        display:block;
      }//break
    }//P

  }//caption

  &:hover{
    .caption {
      background-color:rgba(0,0,0,.8);
    }//caption
  }//hover

  .owl-controls {
    margin-top:0;

    .owl-nav {

      .owl-prev {
        background-position:0 center;
        left: 5%;
      }//prev

      .owl-next {
        background-position:-40px center;
        right: 5%;
      }//next

    }//owl nav
  }//owl controls

  &.quotes {
    clear:both;

    &:before,
    &:after {
      background-color:transparent;
      background-image:url(../../imgs/tpg-sprite.png);
      background-repeat:no-repeat;
      background-size:auto 200px;
      content:" ";
      display:block;
      height:45px;
      margin:2em auto;
      width:50px;

      @media screen and (min-width: $bp-desk) {
        background-size:auto 400px;
        height:80px;
        width:85px;
      }//break
    }

    &:before {
      background-position:-50px 0;

      @media screen and (min-width: $bp-desk) {
        background-position:-107px 0px;
      }//break
    }

    &:after {
      background-position:-50px -45px;

      @media screen and (min-width: $bp-desk) {
        background-position:-107px -96px;
      }//break
    }

    .item {
      // border-bottom:1px solid #DEDEDE;
      // border-top:1px solid #DEDEDE;
    }


  }

}//owl theme



// Featured Sections on Homepage
//––––––––––––––––––––––––––––––––––––––––––––––––––
.features {
  background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%), rgba(0,0,0,.7);
  margin-bottom:0;
  margin-top:0;
  padding-top:2em;
  padding-bottom:2em;


  //sections
  .sections {

    .section_highlight {
      background-color:rgba(255,255,255,.3);
      border:1px solid #FFF;
      box-sizing: border-box;
      color:#FFF;
      display:block;
      overflow:hidden;
      width: 50%;
      max-height:500px;

      margin: 0;
      float:left;
      position:relative;
      overflow:hidden;
      cursor:pointer;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;

        @media (min-width: $bp-tablet) {
          width: 23%;
          margin:1% 1%;
          min-height: 400px;
         }

         h2 {
           background-color:rgba(255,255,255,.3);
           line-height:450%;
           margin:-5% -5% 1em;
         }

         p {
           display:none;
           @media (min-width: $bp-tablet) {
             display:block;
           }//break
         }//p

        //services
        &.services {}//services

        //space
        &.space {}//space

        //work
        &.work {}//work

        //team
        &.team {}//team

    }//sections highlights


    //proportions
    .proportions {
      margin-top:auto;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;

      @media (min-width: 600px) {
        margin-top:110%;
      }

      @media (min-width: 1000px) {
        margin-top:175%;
      }//break
    }//proportions

    .proportions_half {
      margin-top:auto;
      @media (min-width: 1024px) {
        margin-top:35%;
      }//break
    }//proportions_half


    //content_padding
    .content_padding {
      position:relative;

      @media (min-width: 600px) {
        // padding: 70px 10px 0 10px;
         position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
      }//break
    }//content_padding

    //content_padding_half
    .content_padding_half {
      position:relative;

      @media (min-width: 1024px) {
         position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
      }//break
    }//content_padding_half

  }//sections
}//features




// Blog Post

.blog-post {
  .blog-title {
    margin:0 0 .5em;
  }//title

  .blog-meta {
    margin:0 0 1em;
  }//meta

  .blog-author {
    display:none;

    @media screen and (min-width: $bp-desk) {
      display:block;
    }//break

    .profile-image {
      display:block;
      width:50%;
    }//image
  }//author


}
