html,
body {
  font-family: 'Roboto', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


//Breakpoints
$bp-mobile: "360px";
$bp-tablet: "720px" ;
$bp-desk: "960px" ;
$bp-deskhd: "1320px";

//Grid Variables
$container-width: 1320px !default;

//images
img {
  height:auto;
  width:100%;
  max-width:100%;
}

//Type
.lead-copy {
  font-size: 1.5em;
  font-weight: 300;
}


// Grid
//––––––––––––––––––––––––––––––––––––––––––––––––––

//comtainer
.container {
  width: 100%;
  margin-bottom:2em;
  max-width: $container-width;

  &.u-full-width {
    max-width:none;
  }

  &.header {
    background-color:rgba(0,0,0,.5);
  }

  //video head
  &.video-head {
    color:#FFF;
    margin-bottom:0;
    margin-top:0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
    width: 100%;
    z-index:1;

    .video-stage {
      background-color:rgba(0,0,0,.7);
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:2;

      p {
        display:none;
        @media screen and (min-width: $bp-tablet) {
          display:block;
        }//break
      }//p

    }//stage

    video {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1;
    }//video tag

    .row {
      margin-top:-50px;
      padding-top:60px;
    }
  }//video head

  &.testimonials {}

}//container


/*Column*/
.column,
.columns {

  /*center the comtents of a column*/
  &.centerized {
    text-align:center;
  }
}


//Nav
.header {
  position:relative;
  margin-bottom:0;
  margin-top:0;

  .nav {
    display:inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    width:auto;

    li {
      float:left;

      a {
        color:#FFF;
        line-height:50px;
        padding:0 1em;
        text-decoration:none;
      }
    }
  }
}

//Profile List
.profile-list {
  display:inline-block;
  list-style-type:none;
  margin:0 auto;
  padding:0;
  width:auto;

  li {
    float:left;
    margin:1% .5%;
    padding:2% 0;
    width:48%;

    @media screen and (min-width: $bp-tablet) {
      width:24%;
    }//break


    a {
      display:block;
      font-size:1.2em;
      text-decoration:none;
      text-align:center;

      img {
        border-radius:50%;
        display:block;
        height:auto;
        margin:0 auto 1em;
        width:70%;
        -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.35);
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.35);
      }//img

      &:hover {
        color:#004080;

        img {
          -webkit-box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
          box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
        }//img
      }//hover
    }//link

  }//li

}//profile list




//Gallery List
.gallery-list {
  display:inline-block;
  list-style-type:none;
  margin:0 auto;
  padding:0;
  width:auto;

  li {
    float:left;
    margin:1% .5%;
    padding:2% 0;
    width:48%;

    @media screen and (min-width: $bp-tablet) {
      width:32.333%;
    }//break


    a {
      display:block;
      text-decoration:none;
      text-align:center;

      img {
        display:block;
        height:auto;
        margin:0 auto;
        width:90%;

        -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.35);
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.35);
      }//img

      &:hover {
        color:#004080;

        img {
          -webkit-box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
          box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
        }//img
      }
    }//link

  }//li

}//gallery list


//Gallery Modal
.featherlight {

  .featherlight-content {
    -webkit-box-shadow: 5px 5px 50px 0 #000;
    box-shadow: 5px 5px 50px 0 #000;
    margin:0;
    width:80%;

    .featherlight-image {
      height:100%;
      margin:0 auto;
      width:auto;
    }//image

    .featherlight-next,
    .featherlight-previous {

      span {
        position: absolute;
        top: 40%;

        text-align: center;
        font-size: 80px;
        line-height: auto;
        margin-top: 0;
        text-shadow: 0 0 0 #fff;
        text-indent:-9999em;
        background-color:transparent;
        background-image:url(../../imgs/tpg-sprite.png);
        background-repeat:no-repeat;
        height:155px;
        width:25px;
      }//span
    }//prev/next

    .featherlight-next {
      span {
        background-position:-25px 0;
        right: 40%;
      }
    }//next

    .featherlight-previous {
      span {
        background-position:0 0;
        left: 40%;
      }
    }//prev



  }//content

}






//Carousel
.owl-theme .owl-controls .owl-nav [class*=owl-] {
  background-color:transparent;
  background-image:url(../../imgs/tpg-sprite.png);
  background-repeat:no-repeat;
  background-size:auto 50%;
  height:100%;
  margin:0;
  padding:0;
  position: absolute;
  text-indent:-9999em;
  top:0;
  width:50px;
  z-index: 100;
}


.owl-theme {

  .caption {
    background-color:rgba(0,0,0,.5);
    bottom:0;
    color: #FFF;
    left:25%;
    padding: 1.2em;
    position:absolute;
    width:50%;
    z-index:101;
  }//caption

  &:hover{
    .caption {
      background-color:rgba(0,0,0,.8);
    }//caption
  }//hover

  .owl-controls {
    margin-top:0;

    .owl-nav {

      .owl-prev {
        background-position:0 center;
        left: 5%;
      }//prev

      .owl-next {
        background-position:-65px center;
        right: 5%;
      }//next

    }//owl nav
  }//owl controls

  &.quotes {
    clear:both;

    &:before,
    &:after {
      background-color:transparent;
      background-image:url(../../imgs/tpg-sprite.png);
      background-repeat:no-repeat;
      background-size:auto 50%;
      content:" ";
      display:block;
      height:60px;
      margin:2em auto;
      width:80px;
    }


    &:before {
      background-position:-60px 0;
    }

    &:after {
      background-position:-60px -65px;
    }

    .item {
      // border-bottom:1px solid #DEDEDE;
      // border-top:1px solid #DEDEDE;
    }


  }

}//owl theme


//Featured Sections on Homepage
.features {
  background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%), rgba(0,0,0,.7);
  margin-bottom:0;
  margin-top:0;
  padding-top:2em;
  padding-bottom:2em;


  //sections
  .sections {
    // display:block;
    // position:relative;

    .section_highlight {
      background-color:rgba(255,255,255,.3);
      border:1px solid #FFF;
      box-sizing: border-box;
      color:#FFF;
      display:block;
      overflow:hidden;
      width: 50%;
      max-height:500px;

      margin: 0;
      float:left;
      position:relative;
      overflow:hidden;
      cursor:pointer;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;

        @media (min-width: $bp-tablet) {
          width: 23%;
          margin:1% 1%;
          min-height: 400px;
         }

         h2 {
           background-color:rgba(255,255,255,.3);
           line-height:450%;
           margin:-5% -5% 1em;
         }

         p {
           display:none;
           @media (min-width: $bp-tablet) {
             display:block;
           }//break
         }//p

        // @media (min-width: 1064px) {
        //   max-height:410px;
        //
        // }
        //   @media (min-width: 1130px) {
        //   max-height:440px;
        //
        // }
        // @media (min-width: 1230px) {
        //  max-height:480px;
        // }

        //services
        &.services {
          // background:#7dc140;
        }//services

        //space
        &.space {
          //background:#f36e2e;
        }//space

        //work
        &.work {
          //background:#52b2e7;
        }//work

        //team
        &.team {
          //background:#5a77b7;
        }//team



    }//sections highlights




    //proportions
    .proportions {
      margin-top:auto;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;

      @media (min-width: 600px) {
        margin-top:110%;
      }

      @media (min-width: 1000px) {
        margin-top:175%;
      }//break
    }//proportions

    .proportions_half {
      margin-top:auto;
      @media (min-width: 1024px) {
        margin-top:35%;
      }//break
    }//proportions_half


    //content_padding
    .content_padding {
      position:relative;

      @media (min-width: 600px) {
        // padding: 70px 10px 0 10px;
         position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
      }//break
    }//content_padding

    //content_padding_half
    .content_padding_half {
      position:relative;

      @media (min-width: 1024px) {
         position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
      }//break
    }//content_padding_half

  }//sections
}//features
