/* line 11, ../sass/screen.scss */
html,
body {
  font-family: 'Roboto', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
@media screen and (min-width: 720px) {
  /* line 11, ../sass/screen.scss */
  html,
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 960px) {
  /* line 11, ../sass/screen.scss */
  html,
  body {
    font-size: 18px;
  }
}

/* line 28, ../sass/screen.scss */
a {
  color: #2389ca;
  text-decoration: none;
}
/* line 32, ../sass/screen.scss */
a:hover {
  color: #7dc140;
  text-decoration: underline;
}

/* line 38, ../sass/screen.scss */
h1 {
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: -.1rem;
}
@media screen and (min-width: 720px) {
  /* line 38, ../sass/screen.scss */
  h1 {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 960px) {
  /* line 38, ../sass/screen.scss */
  h1 {
    font-size: 2.6em;
  }
}

/* line 52, ../sass/screen.scss */
h2 {
  font-size: 1.8em;
  line-height: 1.25;
  letter-spacing: -.1rem;
}
@media screen and (min-width: 720px) {
  /* line 52, ../sass/screen.scss */
  h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 960px) {
  /* line 52, ../sass/screen.scss */
  h2 {
    font-size: 2.2em;
  }
}

/* line 66, ../sass/screen.scss */
h3 {
  font-size: 1.6em;
  line-height: 1.3;
  letter-spacing: -.1rem;
}
@media screen and (min-width: 720px) {
  /* line 66, ../sass/screen.scss */
  h3 {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 960px) {
  /* line 66, ../sass/screen.scss */
  h3 {
    font-size: 2em;
  }
}

/* line 80, ../sass/screen.scss */
h4 {
  font-size: 1.4em;
  line-height: 1.35;
  letter-spacing: -.08rem;
}
@media screen and (min-width: 720px) {
  /* line 80, ../sass/screen.scss */
  h4 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 960px) {
  /* line 80, ../sass/screen.scss */
  h4 {
    font-size: 1.8em;
  }
}

/* line 94, ../sass/screen.scss */
h5 {
  font-size: 1.3em;
  line-height: 1.5;
  letter-spacing: -.05rem;
}
@media screen and (min-width: 720px) {
  /* line 94, ../sass/screen.scss */
  h5 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 960px) {
  /* line 94, ../sass/screen.scss */
  h5 {
    font-size: 1.6em;
  }
}

/* line 108, ../sass/screen.scss */
h6 {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: 0;
}
@media screen and (min-width: 720px) {
  /* line 108, ../sass/screen.scss */
  h6 {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 960px) {
  /* line 108, ../sass/screen.scss */
  h6 {
    font-size: 1.4em;
  }
}

/* line 123, ../sass/screen.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0;
}

/* line 132, ../sass/screen.scss */
img {
  height: auto;
  width: 100%;
  max-width: 100%;
}
/* line 137, ../sass/screen.scss */
img.profile-image {
  border-radius: 50%;
}

/* line 143, ../sass/screen.scss */
.lead-copy {
  font-size: 1.5em;
  font-weight: 300;
}

/* line 153, ../sass/screen.scss */
.container {
  width: 100%;
  margin-bottom: 2em;
  max-width: 1320px;
}
/* line 158, ../sass/screen.scss */
.container.u-full-width {
  max-width: none;
}

/*Column*/
/* line 165, ../sass/screen.scss */
.column,
.columns {
  /*center the comtents of a column*/
}
/* line 169, ../sass/screen.scss */
.column.centerized,
.columns.centerized {
  text-align: center;
}

/* line 177, ../sass/screen.scss */
.header {
  display: none;
  background-color: transparent;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}
@media screen and (min-width: 960px) {
  /* line 177, ../sass/screen.scss */
  .header {
    height: 100px;
  }
}
/* line 193, ../sass/screen.scss */
.header .nav {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
}
/* line 200, ../sass/screen.scss */
.header .nav li {
  float: left;
}
/* line 203, ../sass/screen.scss */
.header .nav li a {
  color: #FFF;
  line-height: 50px;
  padding: 0 1em;
  text-decoration: none;
}

/* line 216, ../sass/screen.scss */
.video-head {
  background-color: #000;
  color: #FFF;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
/* line 231, ../sass/screen.scss */
.video-head .video-stage {
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 720px) {
  /* line 231, ../sass/screen.scss */
  .video-head .video-stage {
    padding-top: 100px;
  }
}
/* line 239, ../sass/screen.scss */
.video-head .video-stage p {
  display: none;
}
@media screen and (min-width: 720px) {
  /* line 239, ../sass/screen.scss */
  .video-head .video-stage p {
    display: block;
  }
}
/* line 248, ../sass/screen.scss */
.video-head video {
  height: 100%;
  left: 0;
  opacity: .2;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1;
}
@media screen and (min-width: 960px) {
  /* line 248, ../sass/screen.scss */
  .video-head video {
    width: 120%;
    height: auto;
  }
}

/* line 277, ../sass/screen.scss */
.profile-list {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
}
/* line 284, ../sass/screen.scss */
.profile-list li {
  float: left;
  margin: 1% .5%;
  padding: 2% 0;
  width: 48%;
}
@media screen and (min-width: 720px) {
  /* line 284, ../sass/screen.scss */
  .profile-list li {
    width: 24%;
  }
}
/* line 295, ../sass/screen.scss */
.profile-list li a {
  display: block;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
}
/* line 301, ../sass/screen.scss */
.profile-list li a img {
  border-radius: 50%;
  display: block;
  height: auto;
  margin: 0 auto 1em;
  width: 70%;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
}
/* line 312, ../sass/screen.scss */
.profile-list li a:hover img {
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}

/* line 328, ../sass/screen.scss */
.gallery-list {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
}
/* line 335, ../sass/screen.scss */
.gallery-list li {
  float: left;
  margin: 1% .5%;
  padding: 2% 0;
  width: 48%;
}
@media screen and (min-width: 720px) {
  /* line 335, ../sass/screen.scss */
  .gallery-list li {
    width: 32.333%;
  }
}
/* line 346, ../sass/screen.scss */
.gallery-list li a {
  display: block;
  text-decoration: none;
  text-align: center;
}
/* line 351, ../sass/screen.scss */
.gallery-list li a img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 90%;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
}
/* line 361, ../sass/screen.scss */
.gallery-list li a:hover {
  color: #004080;
}
/* line 364, ../sass/screen.scss */
.gallery-list li a:hover img {
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}

/* line 380, ../sass/screen.scss */
.featherlight .featherlight-content {
  -webkit-box-shadow: 5px 5px 50px 0 #000;
  box-shadow: 5px 5px 50px 0 #000;
  margin: 0;
  width: 80%;
}
/* line 386, ../sass/screen.scss */
.featherlight .featherlight-content .featherlight-image {
  height: 100%;
  margin: 0 auto;
  width: auto;
}
/* line 395, ../sass/screen.scss */
.featherlight .featherlight-content .featherlight-next span,
.featherlight .featherlight-content .featherlight-previous span {
  background-color: transparent;
  background-image: url(../../imgs/tpg-sprite.png);
  background-repeat: no-repeat;
  background-size: auto 200px;
  display: block;
  height: 100%;
  line-height: none;
  margin-top: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 0 #fff;
  text-indent: -9999em;
  top: 0;
  width: 30px;
}
@media screen and (min-width: 960px) {
  /* line 395, ../sass/screen.scss */
  .featherlight .featherlight-content .featherlight-next span,
  .featherlight .featherlight-content .featherlight-previous span {
    background-size: auto 300px;
    width: 40px;
  }
}
/* line 420, ../sass/screen.scss */
.featherlight .featherlight-content .featherlight-next span {
  background-position: -30px center;
  right: 30%;
}
/* line 427, ../sass/screen.scss */
.featherlight .featherlight-content .featherlight-previous span {
  background-position: 0 center;
  left: 30%;
}

/* line 443, ../sass/screen.scss */
.owl-theme .owl-controls .owl-nav [class*=owl-] {
  background-color: transparent;
  background-image: url(../../imgs/tpg-sprite.png);
  background-repeat: no-repeat;
  background-size: auto 300px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  text-indent: -9999em;
  top: 0;
  width: 30px;
  z-index: 100;
}

/* line 462, ../sass/screen.scss */
.owl-theme .caption {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #FFF;
  left: 25%;
  padding: 1.2em;
  position: absolute;
  width: 50%;
  z-index: 101;
}
/* line 472, ../sass/screen.scss */
.owl-theme .caption p {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 472, ../sass/screen.scss */
  .owl-theme .caption p {
    display: block;
  }
}
/* line 483, ../sass/screen.scss */
.owl-theme:hover .caption {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 488, ../sass/screen.scss */
.owl-theme .owl-controls {
  margin-top: 0;
}
/* line 493, ../sass/screen.scss */
.owl-theme .owl-controls .owl-nav .owl-prev {
  background-position: 0 center;
  left: 5%;
}
/* line 498, ../sass/screen.scss */
.owl-theme .owl-controls .owl-nav .owl-next {
  background-position: -40px center;
  right: 5%;
}
/* line 506, ../sass/screen.scss */
.owl-theme.quotes {
  clear: both;
}
/* line 509, ../sass/screen.scss */
.owl-theme.quotes:before, .owl-theme.quotes:after {
  background-color: transparent;
  background-image: url(../../imgs/tpg-sprite.png);
  background-repeat: no-repeat;
  background-size: auto 200px;
  content: " ";
  display: block;
  height: 45px;
  margin: 2em auto;
  width: 50px;
}
@media screen and (min-width: 960px) {
  /* line 509, ../sass/screen.scss */
  .owl-theme.quotes:before, .owl-theme.quotes:after {
    background-size: auto 400px;
    height: 80px;
    width: 85px;
  }
}
/* line 528, ../sass/screen.scss */
.owl-theme.quotes:before {
  background-position: -50px 0;
}
@media screen and (min-width: 960px) {
  /* line 528, ../sass/screen.scss */
  .owl-theme.quotes:before {
    background-position: -107px 0px;
  }
}
/* line 536, ../sass/screen.scss */
.owl-theme.quotes:after {
  background-position: -50px -45px;
}
@media screen and (min-width: 960px) {
  /* line 536, ../sass/screen.scss */
  .owl-theme.quotes:after {
    background-position: -107px -96px;
  }
}

/* line 558, ../sass/screen.scss */
.features {
  background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%), rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 569, ../sass/screen.scss */
.features .sections .section_highlight {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #FFF;
  box-sizing: border-box;
  color: #FFF;
  display: block;
  overflow: hidden;
  width: 50%;
  max-height: 500px;
  margin: 0;
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
@media (min-width: 720px) {
  /* line 569, ../sass/screen.scss */
  .features .sections .section_highlight {
    width: 23%;
    margin: 1% 1%;
    min-height: 400px;
  }
}
/* line 596, ../sass/screen.scss */
.features .sections .section_highlight h2 {
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 450%;
  margin: -5% -5% 1em;
}
/* line 602, ../sass/screen.scss */
.features .sections .section_highlight p {
  display: none;
}
@media (min-width: 720px) {
  /* line 602, ../sass/screen.scss */
  .features .sections .section_highlight p {
    display: block;
  }
}
/* line 625, ../sass/screen.scss */
.features .sections .proportions {
  margin-top: auto;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
@media (min-width: 600px) {
  /* line 625, ../sass/screen.scss */
  .features .sections .proportions {
    margin-top: 110%;
  }
}
@media (min-width: 1000px) {
  /* line 625, ../sass/screen.scss */
  .features .sections .proportions {
    margin-top: 175%;
  }
}
/* line 642, ../sass/screen.scss */
.features .sections .proportions_half {
  margin-top: auto;
}
@media (min-width: 1024px) {
  /* line 642, ../sass/screen.scss */
  .features .sections .proportions_half {
    margin-top: 35%;
  }
}
/* line 651, ../sass/screen.scss */
.features .sections .content_padding {
  position: relative;
}
@media (min-width: 600px) {
  /* line 651, ../sass/screen.scss */
  .features .sections .content_padding {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
}
/* line 665, ../sass/screen.scss */
.features .sections .content_padding_half {
  position: relative;
}
@media (min-width: 1024px) {
  /* line 665, ../sass/screen.scss */
  .features .sections .content_padding_half {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
}

/* line 686, ../sass/screen.scss */
.blog-post .blog-title {
  margin: 0 0 .5em;
}
/* line 690, ../sass/screen.scss */
.blog-post .blog-meta {
  margin: 0 0 1em;
}
/* line 694, ../sass/screen.scss */
.blog-post .blog-author {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 694, ../sass/screen.scss */
  .blog-post .blog-author {
    display: block;
  }
}
/* line 701, ../sass/screen.scss */
.blog-post .blog-author .profile-image {
  display: block;
  width: 50%;
}
